--*
*.pdb
*.Cache
*.suo
*.FileListAbsolute.txt
*.exe
*.exe.config
*.manifest
*.cache
*.refresh
*/obj/Debug/*
*/obj/Release/*
*/bin/Release/*
*/bin/Debug/*
*/bin/*
*/Bin/*
*/obj/x86/*
*/bin/*
*/obj/*
*.user
+*
TestResults
#*.vsmdi
#Local.testsettings
#TraceAndTestImpact.testsettings
LastTrace.log
Bin/*
*.log
obj/*
bin/*
*/read.1.tlog
.vs
_ReSharper*
bin
obj
packages
.fake
*.lock
.ionide
.microcelium
.selenium
.screenshots
launchSettings.json

screenshots
selenium-bin


!Build.fsx.lock
!build.fsx.lock
**/bak/*
/build.fsx.lock
test-results

!**/[Pp]ackages/build/
!*.[Cc]ache/
!.axoCover/settings.json
# !tools/packages.config
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
# .NET Core
# AxoCover is a Code Coverage Tool
# Azure Stream Analytics local run output
# Backup & report files from converting an old project file
# Benchmark Results
# BizTalk build output
# Build Results of an ATL Project
# Build results
# Business Intelligence projects
# Cake - Uncomment if you are using it
# Chutzpah Test files
# Click-Once directory
# CodeRush
# Config files - At time of writing, these may contain sensitive information.
# DocProject is a documentation generator add-in
# DotCover is a Code Coverage Tool
# FAKE - F# Make
# Files built by Visual Studio
# GhostDoc plugin setting file
# Guidance Automation Toolkit
# Including strong name files can present a security risk
# Installshield output folder
# JetBrains Rider
# JustCode is a .NET coding add-in
# MFractors (Xamarin productivity tool) working folder
# MSBuild Binary and Structured Log
# MSTest test Results
# Microsoft Azure Build Output
# Microsoft Azure Emulator
# Microsoft Azure Web App publish settings. Comment the next line if you want to
# Microsoft Fakes
# MightyMoose
# NCrunch
# NUNIT
# NVidia Nsight GPU debugger configuration file
# Node.js Tools for Visual Studio
# Note: Comment the next line if you want to checkin your web deploy settings,
# NuGet Packages
# NuGet v3's project.json files produces more ignorable files
# OpenCover UI analysis results
# Others
# Paket dependency manager
# Publish Web Output
# Python Tools for Visual Studio (PTVS)
# RIA/Silverlight projects
# ReSharper is a .NET coding add-in
# SQL Server files
# Since there are multiple workflows, uncomment next line to ignore bower_components
# StyleCop
# TFS 2012 Local Workspace
# Tabs Studio
# TeamCity is a build add-in
# Telerik's JustMock configuration file
# The packages folder can be ignored because of Package Restore
# Uncomment if necessary however generally it will be regenerated when needed
# Uncomment if you have tasks that create the project's static files in wwwroot
# User-specific files
# User-specific files (MonoDevelop/Xamarin Studio)
# Visual C++ cache files
# Visual Studio 2015/2017 cache/options directory
# Visual Studio 2017 auto generated files
# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
# Visual Studio 6 build log
# Visual Studio 6 workspace options file
# Visual Studio LightSwitch build output
# Visual Studio Trace Files
# Visual Studio cache files
# Visual Studio code coverage results
# Visual Studio profiler
# Web workbench (sass)
# Windows Store app package directories and files
# because we have git ;-)
# but database connection strings (with potential passwords) will be unencrypted
# but keep track of directories ending in .cache
# checkin your Azure Web App publish settings, but sensitive information contained
# except build/, which is used as an MSBuild target.
# files ending in .cache can be ignored
# in these scripts will be unencrypted
# to a newer Visual Studio version. Backup files are not needed,
# tools/**
#!**/[Pp]ackages/repositories.config
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
#*.snk
#bower_components/
#wwwroot/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/Properties/launchSettings.json
**/[Pp]ackages/*
**/ignore
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.e2e
*.gpState
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.mdf
*.meta
*.mm.*
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.userosscache
*.userprefs
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*DataDx.*.dll.config
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.JustCode
.axoCover/*
.builds
.cr/
.fake/
.idea/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.store
.vs/
.vscode/
/*/App.*.config
/*/App.config
/DataDx.Agent.Core/secret.settings.json
/DataDx.Agent/Clients/*/Config/*
/DataDx.Agent/Clients/OR Oncology
/DataDx.Web/Config/*
ASALocalRun/
AppPackages/
AutoTest.Net/
Azure-Functions/ApiManagement/local.settings.json
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated\ Files/
Generated_Code/
OpenCover/
Package.StoreAssociation.xml
PublishScripts/
ServiceFabricBackup/
StyleCopReport.xml
TAGS
TestResult.xml
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
artifacts/
bld/
csx/
dlldata.c
ecf/
ipch/
lib/
microcelium-fake
nCrunchTemp_*
node_modules/
orleans.codegen.cs
paket-files/
pipeline/web.config-orig
project.fragment.lock.json
project.lock.json
publish/
rcf/
test-results/*
x64/
x86/
~$*
